.page-container {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Prevents scrolling on the entire page */
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  overflow-y: auto; /* Enable scrolling for the content area */
}

.team-grid-container {
  overflow-y: auto; /* Enable scrolling for the TeamGrid section */
  flex: 1; /* Allow TeamGrid to take up remaining space */
  padding: 16px; /* Add padding as needed */
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
  padding: 10px 16px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #ccc;
  z-index: 1000;
  overflow-y: auto; /* Enable scrolling for Sidebar */
}

@media screen and (max-width: 550px) {
  .sidebar {
    display: none;
  }

  .content {
    padding-top: 60px; /* Adjust padding top to accommodate Topbar */
  }

  .top {
    left: 0;
    width: 100%;
  }
}
