/* .ps-sidebar-container {
    background-image: linear-gradient(to bottom, #dbdbdb, #c4c4c7, #adaeb3, #9798a0, #80838d, #6f747e, #5e656f, #4e5760, #404b51, #343e42, #2a3233, #202626);
} */

button {
    text-decoration: none;
    padding: 12px;
    margin: 15px;
    color: white;
    width: 100px;
    background-color:rgb(109, 6, 7);
    transition: width 1s;
    -webkit-transition: width .35s;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50px;
    border: solid white;
}
