/* TeamGrid.css */

.coach-teams-section {
  padding: 20px;
}

.coach-teams-grid {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: 1fr; /* Default to one column */
}

.coach-teams-grid.two-column {
  grid-template-columns: repeat(2, 1fr); /* Two columns for even number of teams */
}

.coach-teams-grid.centered-last {
  grid-template-columns: repeat(2, 1fr); /* Two columns for odd number of teams */
}

.no-teams,
.team-item {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  background-color: #f9f9f9;
}

.team-item h3 {
  margin: 0 0 10px;
}

.team-options {
  display: flex;
  justify-content: space-between; /* Adjusted to space between items */
  align-items: center; /* Align items vertically */
  gap: 10px;
}

.team-options a {
  text-decoration: none;
  color: #007bff;
}

.team-options a:hover {
  color: #02182e;
}

.team-options button {
  background-color: #dc0e23;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.team-options button:hover {
  background-color: #850611;
}

.add-team {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.add-team-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  width: 200px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.add-team-btn:hover {
  background-color: #0056b3;
}

/* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 8px;
  text-align: center;
}

.add-button {
  width: 100px;
  align-items: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
